<div class="row text-center">
    <div class="col-12 justify-content-center pt-2">
        <mat-spinner class="mx-auto mt-5 pt-5" *ngIf="showSpinner" [diameter]="50"></mat-spinner>
        <div class="mr-5" matTooltip="Préstamos registrados" *ngIf="loansLength > 0">
            <h1 class="font-weight-light pl-3 pt-3 ml-2">{{loansLength}}
                <span>
                    <mat-icon class="icon-display-2 ml-1">work</mat-icon>
                </span>
            </h1>
        </div>
    </div>
</div>
<app-list-l (loans)="setLoans($event)"></app-list-l>