<div class="row">
    <div class="mr-auto ml-2">
        <h1 class="font-weight-light pl-3 pt-3 ml-4">17
            <span>
                <mat-icon class="icon-display-2 ml-1">work_outline</mat-icon>
            </span>
        </h1>
    </div>
    <div class="ml-auto mr-4 pr-1 pt-3">
        <mat-form-field>
            <mat-label>Mostrar</mat-label>
            <mat-select [(value)]="selected">
                <mat-option value="all">Todos</mat-option>
                <mat-option value="active">Activos</mat-option>
                <mat-option value="non_active">Inactivos</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-nav-list>
            <mat-list-item *ngFor="let loan of loans">
                <mat-icon matListIcon class="icon-display">work</mat-icon>
                <p matLine class="font-weight-bold"> {{loan.nombre_completo}} </p>
                <p matLine class="font-weight-thin">
                    {{loan.date}}
                </p>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>