<mat-toolbar
  color="primary"
  class="position-sticky fixed-top"
  *ngIf="state != 'hidden'"
>
  <mat-toolbar-row *ngIf="state == 'logged'" class="pl-1">
    <span class="mr-2 pt-1">
      <button class="ml-0" mat-icon-button (click)="toggleSideBar(true)">
        <mat-icon>menu</mat-icon>
      </button>
    </span>

    <h3 class="mr-2 pt-1 pr-5 mt-1 font-weight-light open-sans">
      {{ toolTitle }}
    </h3>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="state == 'unlogged'" class="pr-0 pl-2 pt-1">
    <span class="mr-3 pt-1 mb-1">
      <button mat-icon-button [routerLink]="['/auth/welcome']">
        <img src=" ../../../assets/imagenes/pNo-bg.png" class="logo-icon" />
      </button>
    </span>
    <button
      mat-button
      [routerLink]="['auth/register']"
      routerLinkActive="white"
      class="font-weight-light login-btn px-2 ml-auto desc"
    >
      Registrarse
    </button>
    <button
      mat-button
      [routerLink]="['auth/login']"
      routerLinkActive="white"
      class="desc font-weight-light login-btn px-2"
    >
      Iniciar sesión
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="state == 'detail'" class="pl-1">
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button class="ml-auto" [routerLink]="route_state">
      <mat-icon>{{ icon_state }} </mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="state == 'back'" class="pl-1">
    <button mat-icon-button (click)="back()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="state == ''"> </mat-toolbar-row>
</mat-toolbar>
