<mat-spinner class="mx-auto mt-5 pt-5" *ngIf="showSpinner"></mat-spinner>
<div *ngIf="loan$ as loan">
    <div class="row p-4">
        <div class="col-12">
            <mat-form-field class="col-12 col-md-6 pb-2" [hintLabel]="loan.client_email">
                <mat-label>Cliente</mat-label>
                <mat-select [(value)]="loan.client_name">
                    <mat-option [value]="loan.client_name">{{loan.client_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Monto</mat-label>
                <input matInput [value]="loan.amount | currency:'RD$'" readonly>
                <mat-icon matSuffix>work</mat-icon>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6 pb-2">
                <mat-label>Período de pago</mat-label>
                <input matInput [value]="loan.payment_period" readonly>
                <mat-icon matSuffix>today</mat-icon>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Monto por cuota</mat-label>
                <input matInput [value]="loan.fee_payment | currency:'RD$'" readonly>
            </mat-form-field>
        </div>
        <mat-divider class="col-12 ml-auto mb-4"></mat-divider>
        <div class="col-12">
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Interés total</mat-label>
                <input matInput [value]="loan.full_interest | currency:'RD$'" readonly>
            </mat-form-field>
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Monto faltante</mat-label>
                <input matInput [value]="loan.missing_amount | currency:'RD$'" readonly>
            </mat-form-field>

        </div>
        <div class="col-12">
            <button [disabled]="!loan.active" [routerLink]="['/loan', loan_id, 'payments']" mat-flat-button
                color="primary" class="col-12 col-md-12">
                Ver pagos
            </button>
            <button type="submit" [disabled]="!loan.active" (click)="cancelLoan()" mat-flat-button color="accent"
                class="col-12 col-md-12 mt-2">
                Cancelar
            </button>
        </div>
    </div>
</div>