<div class="row">
    <div class="mr-auto ml-2">
        <h1 class="font-weight-light pl-3 pt-4 ml-4">17
            <span>
                <mat-icon class="icon-display-2 ml-1">local_atm</mat-icon>
            </span>
        </h1>
    </div>
    <div class="ml-auto mr-4 pr-1 pt-3">
        <mat-form-field>
            <mat-label>Mostrar</mat-label>
            <mat-select [(value)]="selected">
                <mat-option value="all">Todos</mat-option>
                <mat-option value="active">Activos</mat-option>
                <mat-option value="non_active">Inactivos</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="row">
    <div class="col">
        <mat-nav-list>
            <mat-list-item *ngFor="let payment of payments">
                <mat-icon matListIcon class="icon-display">attach_money</mat-icon>
                <p matLine class="font-weight-bold"> {{payment.name}} </p>
                <p class="font-weight-thin">19/12/2020</p>
                <p matLine class="font-weight-thin">
                    {{payment.amount}}
                </p>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </div>
</div>