.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 19vh !important;
}

.name {
  font-size: 0.8em;
  height: 0.95em;
}
.number {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  font-size: 0.6em;
  height: 1em;
  color: #c5cae9;
}

.menu-color {
  color: #444444;
}
