<mat-toolbar color="primary">
    <mat-toolbar-row *ngIf="user | async as user" class="row py-4 pl-3">
        <div class="col-12 pt-1">
            <mat-icon class="icon-3 ml-2 pl-1">store_front
            </mat-icon>
        </div>
        <div class="col-12 pt-2">
            <p matLine class="font-weight-thin mb-0 date pl-1 name">{{user.name}}</p>
            <p matLine class="font-weight-thin pl-1 number">{{user.email}}</p>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-nav-list class="pt-1">
    <mat-list-item *ngFor="let route of routes" (click)="navigateTo(route.path, route.name)" class="menu-color">
        <mat-icon>{{route.icon}}</mat-icon>
        <a class="px-3 font-weight-light">{{route.name}}</a>
    </mat-list-item>
</mat-nav-list>