<div class="row p-4 blue-background">
    <div class="col-12 align-self-center text-center">
        <img src="../../../assets/imagenes/border-logo.png" class="border-icon mb-2">
        <h4 class="font-weight-light main-title mb-0">Usando payme</h4>
    </div>
    <div class="col-12 text-center">
        <p class="font-weight-light desc">podrá darle el mejor seguimiento a sus préstamos</p>
    </div>
</div>
<div class="row p-4">
    <div class="col-12 text-center mt-0 pt-0">
        <img src="../../../assets/imagenes/phone.png" class="phone-icon mb-2">
    </div>
    <div class="col-12 def font-weight-light">
        Nuestra aplicación está diseñada para que cualquiera pueda manejar <span class="indigo">préstamos</span> con el
        tacto de un
        <i>profesional</i>
    </div>
    <div class="col-12 mt-1 font-weight-light def open-sans">
        <div class="row justify-content-center p-4 ">
            <div class="col text-center">
                <img src="../../../assets/imagenes/client.png" class="home-icons">
            </div>
            <div class="col text-center">
                <img src="../../../assets/imagenes/dollar.png" class="home-icons">
            </div>
            <div class="col text-center">
                <img src="../../../assets/imagenes/loan.png" class="home-icons">
            </div>

        </div>
        <p>En<b class="indigo"> Payme,</b> distintos módulos se encargan de simplificar y estandarizar procesos
            esenciales, facilitando su trabajo y <b>evitando</b> que tenga que malgastar
            <b class="indigo">tiempo</b> valioso.
        </p>
    </div>
    <div class="col-12 mt-1 font-weight-light def open-sans text-center">
        Dichos módulos comprenden
    </div>

    <div class="row p-4">
        <div class="col-4">
            <img src="../../../assets/imagenes/dollar-big.png" class="border-icon">
        </div>
        <div class="col-8 font-weight-light def open-sans">
            <p>La elaboración y posterior administración adecuada de los <b class="indigo">préstamos.</b></p>
        </div>
        <div class="col-4">
            <img src="../../../assets/imagenes/big-clients.png" class="border-icon">
        </div>
        <div class="col-8 font-weight-light def open-sans pb-2">
            <p>El registro y gestión correcta de información referente a sus <b class="indigo">clientes.</b></p>
        </div>
        <div class="col-4">
            <img src="../../../assets/imagenes/big-dollar.png" class="ml-3 dollar-b">

        </div>
        <div class="col-8 font-weight-light def open-sans pb-2  ">
            <p>El manejo indicado de fechas y montos de <b class="indigo">pagos realizados.</b></p>
        </div>
    </div>

</div>