<div class="row mb-5">
    <div class="col-12">
        <mat-spinner class="mx-auto mt-5 pt-5" *ngIf="showSpinner">
        </mat-spinner>
        <cdk-virtual-scroll-viewport itemSize="50" class="list-1">
            <mat-nav-list>
                <mat-list-item *ngFor="let client of client$ | async" [routerLink]="['/client',client.client_id]">
                    <mat-icon matListIcon *ngIf="!client.active_loan" class="icon-1 active">person_outline
                    </mat-icon>
                    <mat-icon matListIcon *ngIf="client.active_loan" class="icon-1 active">person</mat-icon>
                    <p matLine class="font-weight-bold"> {{client.name}} </p>
                    <p matLine class="font-weight-thin">
                        {{client.cellphone}}
                    </p>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-nav-list>
        </cdk-virtual-scroll-viewport>
    </div>
</div>