
<div class="row align-items-center px-3">
  <div class="col-12 col-md-6 text-center mt-5">
    <mat-icon class="icon-b indigo mb-5 mt-5">lock</mat-icon>
    <div class="text-center">
      <p class="font-weight-light active mt-1" style="transform: scale(0.9)">
      Cuando ingreses tu <b>correo electrónico</b> en el siguiente campo, te enviaremos un enlace para poder recuperar tu   
        <span class="font-weight-bold indigo" style="opacity: 0.8">contraseña.</span>
      </p>
    </div>
    <form [formGroup]="forgotForm" class="mt-2" autocomplete="off">
      <mat-form-field class="col-12 col-md-12">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email"/>
    <mat-error *ngIf="email.invalid && email.touched"
      >Este correo electrónico no es válido</mat-error
    >
        <mat-icon matSuffix color="primary">email</mat-icon>
      </mat-form-field>
  <button
    type="submit"
    [disabled]="forgotForm.invalid"
    mat-flat-button
    color="primary"
    class="col-12 col-md-12"
    (click)="submit()"
  >
  Enviar correo
  </button>
    </form>
  </div>
</div>
