html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif !important;
}
body {
  margin: 0;
}
.snackbar-action {
  .mat-simple-snackbar-action {
    color: white !important;
  }
}
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.open-sans {
  font-family: "Open Sans" !important;
}

.date {
  font-size: 0.8em;
}

.desc {
  color: #c5cae9;
}
.white {
  color: white;
}

.link {
  color: #64b5f6 !important;
}

.gray {
  color: rgb(167, 167, 167);
}
.active {
  color: #444444;
}

.indigo {
  color: #3f51b5;
}
.blue {
    color:#2196F3;
} 
.option-color {
  color: #646464;
}
.grayish {
  color: #e0e0e0;
}

.active-test {
  color: rgb(128, 63, 63);
}

.not-found {
  color: rgb(167, 167, 167);
  font-size: 1.5em;
}

.list-s {
  height: 30vh;
}
.list-xs {
  height: 25vh;
}
.list-1 {
  height: 71vh;
}

.icon-1 {
  transform: scale(1.5);
}
.icon-2 {
  transform: scale(2);
}
.icon-3 {
  transform: scale(2.5);
}
.icon-b {
  transform: scale(4);
}
.icon-xl {
  transform: scale(8);
}

.fab-container {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
