<form [formGroup]="guarantorForm" autocomplete="off" [class.p-4]="!inNewLoan">
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
    <mat-icon matSuffix>face</mat-icon>
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Correo electrónico</mat-label>
    <input matInput formControlName="email" />
    <mat-icon matSuffix>mail</mat-icon>
  </mat-form-field>
  <!--Cédula-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Cédula</mat-label>
    <input matInput formControlName="ssn" type="text" mask="000-0000000-0" />
    <mat-icon matSuffix>account_box</mat-icon>
  </mat-form-field>
  <!--Dirección-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="address" />
    <mat-icon matSuffix>home</mat-icon>
  </mat-form-field>
  <!--Celular-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Celular</mat-label>
    <input
      matInput
      formControlName="cellphone"
      type="text"
      mask="(000) 000 0000"
    />
    <mat-icon matSuffix>smartphone</mat-icon>
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Teléfono </mat-label>
    <input
      matInput
      formControlName="cellphone"
      type="text"
      mask="(000) 000 0000"
    />
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <!--Estado Civil-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Estado Civil</mat-label>
    <mat-select formControlName="civil_status">
      <mat-option value="Casado/a">Casado ó Casada</mat-option>
      <mat-option value="Soltero/a">Soltero ó Soltera</mat-option>
    </mat-select>
  </mat-form-field>
  <!--Estado Laboral-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Estado Laboral</mat-label>
    <mat-select formControlName="work_status">
      <mat-option value="Empleado">Empleado</mat-option>
      <mat-option value="Desempleado">Desempleado</mat-option>
    </mat-select>
  </mat-form-field>
  <!--Salario-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Salario</mat-label>
    <!--| currency: 'RD$'-->
    <input
      matInput
      formControlName="salary"
      type="text"
      mask="separator.0"
      thousandSeparator=","
    />
  </mat-form-field>
  <div class="col-12 col-md-6 p-2">
    <button
      *ngIf="!inNewLoan"
      (click)="goBack()"
      [disabled]="guarantorForm.invalid"
      mat-flat-button
      color="primary"
      class="col-12 col-md-12"
    >
      <ng-content select=".save"></ng-content>
    </button>
    <button
      *ngIf="inNewLoan"
      (click)="submit()"
      [disabled]="guarantorForm.invalid"
      mat-flat-button
      color="primary"
      class="col-12 col-md-12"
      matStepperNext
    >
      Añadir Garante
    </button>
  </div>
</form>
