<form [formGroup]="guarantorForm" autocomplete="off" [class.p-4]="!inNewLoan">
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" />
    <mat-icon matSuffix>face</mat-icon>
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Correo electrónico</mat-label>
    <input matInput formControlName="email" />
    <mat-icon matSuffix>mail</mat-icon>
  </mat-form-field>
  <!--Cédula-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Cédula</mat-label>
    <input matInput formControlName="ssn" type="text" mask="000-0000000-0" />
    <mat-icon matSuffix>account_box</mat-icon>
  </mat-form-field>
  <!--Dirección-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Dirección</mat-label>
    <input matInput formControlName="address" />
    <mat-icon matSuffix>home</mat-icon>
  </mat-form-field>
  <!--Celular-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Celular</mat-label>
    <input
      matInput
      formControlName="cellphone"
      type="text"
      mask="(000) 000 0000"
    />
    <mat-icon matSuffix>smartphone</mat-icon>
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Teléfono </mat-label>
    <input
      matInput
      formControlName="cellphone"
      type="text"
      mask="(000) 000 0000"
    />
    <mat-icon matSuffix>phone</mat-icon>
  </mat-form-field>
  <!--Estado Civil-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Estado Civil</mat-label>
    <mat-select formControlName="civil_status">
      <mat-option value="Casado/a">Casado ó Casada</mat-option>
      <mat-option value="Soltero/a">Soltero ó Soltera</mat-option>
    </mat-select>
  </mat-form-field>
  <!--Estado Laboral-->
  <mat-form-field class="col-12 col-md-6">
    <mat-label>Estado Laboral</mat-label>
    <mat-select formControlName="work_status">
      <mat-option value="Empleado" (click)="toggleshowJobInputs(true)"
        >Empleado</mat-option
      >
      <mat-option value="Desempleado" (click)="toggleshowJobInputs(false)"
        >Desempleado</mat-option
      >

      <mat-option value="Independiente" (click)="toggleshowJobInputs(false)">
        Independiente</mat-option
      >
    </mat-select>
  </mat-form-field>
  <!--From now on the inputs will be only job related-->
  <mat-form-field class="col-12 col-md-6" *ngIf="showJInput">
    <mat-label>Nombre de la Empresa</mat-label>
    <input matInput formControlName="bussiness_name" />
    <mat-icon matSuffix>store_front</mat-icon>
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6" *ngIf="showJInput">
    <mat-label>Dirección de la Empresa</mat-label>
    <input matInput formControlName="business_address" />
    <mat-icon matSuffix>location_on</mat-icon>
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6" *ngIf="showJInput">
    <mat-label>Contacto de la Empresa</mat-label>
    <input
      matInput
      formControlName="bussiness_phone"
      type="text"
      mask="(000) 000 0000"
    />
    <mat-icon matSuffix>smartphone</mat-icon>
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6" *ngIf="showJInput">
    <mat-label>Puesto de trabajo</mat-label>
    <input matInput formControlName="job_title" />
    <mat-icon matSuffix>assignment_ind</mat-icon>
  </mat-form-field>
  <mat-form-field class="col-12 col-md-6" *ngIf="showJInput">
    <mat-label>Salario</mat-label>
    <input
      matInput
      formControlName="salary"
      type="text"
      mask="separator.0"
      thousandSeparator=","
    />
    <mat-icon matSuffix>monetization_on</mat-icon>
  </mat-form-field>

  <!--Salario-->
  <div class="col-12 col-md-6 p-2">
    <button
      *ngIf="!inNewLoan"
      (click)="goBack()"
      [disabled]="guarantorForm.invalid"
      mat-flat-button
      color="primary"
      class="col-12 col-md-12"
    >
      <ng-content select=".save"></ng-content>
    </button>
    <button
      *ngIf="inNewLoan"
      (click)="submit()"
      [disabled]="guarantorForm.invalid"
      mat-flat-button
      color="primary"
      class="col-12 col-md-12"
      matStepperNext
    >
      Añadir Garante
    </button>
  </div>
</form>
