<!--<mat-toolbar color="primary" class="blue-bg"> </mat-toolbar>-->
<!--<div class="container">-->
<!--account_circle-->

<div *ngIf="user$ | async as user">
  <div class="row align-items-end blue-bg text-center white">
    <div class="col-12">
      <mat-icon class="icon-b pt-2"> account_circle </mat-icon>
    </div>
    <div class="col-12">
      <p class="h4">{{ user.name }}</p>
      <p class="font-weight-light" style="font-size: 0.8em; margin-top: -1vh">
        {{ user.email }}
      </p>
    </div>
  </div>
  <div class="row p-4 mt-3 align-items-center">
    <div class="col-12 col-md-12 mt-3">
      <register-form
        [initialFormValue]="user"
        [showPass]="false"
      ></register-form>
    </div>
  </div>
</div>
